body {
    margin: 0;
}

#page-content {
    border: 3px solid lavender;
    display: flex;
    flex-wrap: wrap;
}

.container {
    border: 3px solid grey;
    box-sizing: border-box;
}

.left.container {
    border-color: red;
    width: 60%;
}

.right.container {
    border-color: yellow;
    width: 40%;
}